<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>API test</title>
</head>
<body>
    <h1>Check what you have to pay for a EURO</h1>

    <form action="/submit" method="post" class="input">
        <label for="html">Select currency: </label>  
        <input type="text" name="choice">
    </form>

    <% if (locals.content) { %>
        <p>Rate for <%= content.currency %> is <%= content.rate %></p>
      <%}%>
  
    
</body>
</html>